@use "../../../../assets/styles/mainStyle.scss";

.king {
  width: 100%;
  border-bottom: 3px solid mainStyle.$darkMode_border_color;
  border-top: 3px solid mainStyle.$darkMode_border_color;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: mainStyle.$darkMode_text_color;
  gap: 20px;

  .checkBoxContainer {
    .myCheck {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 20px;
    }

    .handle {
      border-radius: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: mainStyle.$darkMode_border_color;
      cursor: pointer;
      transition: 0.5s;
    }

    .myCheck input:checked + .handle {
      background-color: #36cf22;
    }

    .handle:before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      transition: 0.5s;
    }

    .myCheck input:checked + .handle:before {
      transform: translateX(100%);
    }
  }
}

.taskInfo {
  .taskName {
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  .taskDate {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.482);
  }
}

.starIcon {
  margin-left: auto;
  color: mainStyle.$darkMode_border_color;
  font-size: 1.3em;
}
