@use "../../../../../../../../../assets/styles/mainStyle.scss";

.king {
  background-color: mainStyle.$darkMode_border_color;

  .settingOptionsList {
    list-style: none;
  }

  .settingFormBtns {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;

    button {
      cursor: pointer;
      width: 45%;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      color: mainStyle.$darkMode_text_color;
    }

    .saveBtn {
      background-color: mainStyle.$green_accepted_color;
      &:hover {
        background-color: rgba(35, 134, 55, 0.835);
      }
      &:active {
        background-color: rgba(35, 134, 55, 0.773);
      }
    }

    .resetBtn {
      background-color: mainStyle.$red_error_color;
      &:hover {
        background-color: rgb(204, 6, 6, 0.835);
      }
      &:active {
        background-color: rgb(204, 6, 6, 0.773);
      }
    }
  }
}
