@use "../../../../assets/styles/mainStyle.scss";

.king {
  height: 100%;
  display: flex;
  color: mainStyle.$darkMode_text_color;

  .leftContainer,
  .rightContainer {
    width: 50%;
    height: 100%;
  }

  .leftContainer {
    display: flex;
    align-items: flex-end;

    .pageNameAndDateContainer {
      padding: 20px;
      font-size: 1.1em;
    }
  }

  .rightContainer {
  }
}
