@use "../../../../assets/styles/mainStyle.scss";

.king {
  color: mainStyle.$darkMode_text_color;
  background-color: mainStyle.$darkMode_border_color;
  border: 3px solid mainStyle.$green_accepted_color;
  border-top: 0;
  border-bottom: 0;
  font-size: 3em;
  border-radius: 30px;
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: 0.1s ease-in;

  &:hover {
    border-radius: 20px;
    border-width: 5px;
  }

  &:active {
    opacity: 0.8;
  }
}

// light mode
#lightMode {
  color: mainStyle.$lightMode_text_color;
  background-color: mainStyle.$lightMode_border_color;
  border-color: mainStyle.$green_accepted_color;
}
