@use "../../assets/styles/mainStyle.scss";

.king {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  font-size: 2.5em;
  color: mainStyle.$darkMode_border_color;
}

// light mode

#lightMode {
  color: mainStyle.$lightMode_border_color;
}
