@use "../../assets/styles/mainStyle.scss";

.king {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: mainStyle.$darkMode_main_bg_color;

  .sideBarContainer,
  .headerAndMainContentContainer {
    height: 100%;
  }

  .sideBarContainer {
    width: 20%;
    border-right: 1px solid mainStyle.$darkMode_border_color;
    overflow-y: auto;
    background-color: mainStyle.$darkMode_part_bg_color;
  }

  .headerAndMainContentContainer {
    width: 80%;

    .headerContainer {
      height: 247px;
    }

    .mainContentContainer {
      background-color: mainStyle.$darkMode_part_bg_color;
      overflow-y: auto;
      height: calc(100% - 247px);
    }
  }
}

// light mode
#lightMode {
  background-color: mainStyle.$lightMode_main_bg_color;

  .sideBarContainer {
    border-color: mainStyle.$lightMode_border_color;
    background-color: mainStyle.$lightMode_part_bg_color;
  }

  .headerAndMainContentContainer {
    .mainContentContainer {
      background-color: mainStyle.$lightMode_part_bg_color;
    }
  }
}
