@use "../../../../assets/styles/mainStyle.scss";

.king {
  color: mainStyle.$darkMode_text_color;
  background-color: mainStyle.$darkMode_border_color;
  border: 5px solid mainStyle.$darkMode_main_bg_color;
  border-top: 0;
  border-radius: 30px;
  width: 350px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  p,
  .textareaContainer {
    height: calc(100% - 20%);
  }

  p {
    padding: 12px;
  }

  p,
  textarea {
    line-height: 25px;
    text-transform: none;
    overflow: auto;
    letter-spacing: 0.7px;
  }

  .textareaContainer {
    padding: 2px;

    textarea {
      padding: 10px;
      height: 100%;
      border: 0px;
      width: 100%;
      outline: 1px solid rgb(51, 139, 246);
      border-radius: 25px;
      color: mainStyle.$darkMode_text_color;
      background-color: mainStyle.$darkMode_border_color;

      &:focus {
        outline-width: 2px;
      }
    }
  }

  .saveAndDiscardBtnsContainer,
  .btnsContainer {
    align-items: center;
    display: flex;
    height: 20%;
  }

  .saveAndDiscardBtnsContainer {
    background-color: mainStyle.$darkMode_main_bg_color;
    justify-content: space-evenly;

    button {
      cursor: pointer;
      width: 40%;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      color: mainStyle.$darkMode_text_color;
    }

    .saveBtn {
      background-color: mainStyle.$green_accepted_color;
    }
    #activeSaveBtn {
      &:hover {
        background-color: rgba(35, 134, 55, 0.835);
      }
      &:active {
        background-color: rgba(35, 134, 55, 0.773);
      }
    }
    #disableSaveBtn {
      opacity: 0.5;
      cursor: auto;
    }

    .discardBtn {
      background-color: mainStyle.$red_error_color;
      &:hover {
        background-color: rgb(204, 6, 6, 0.835);
      }
      &:active {
        background-color: rgb(204, 6, 6, 0.773);
      }
    }
  }

  .btnsContainer {
    justify-content: center;
    gap: 35px;
    background-color: mainStyle.$darkMode_main_bg_color;

    button {
      cursor: pointer;
      padding: 5px;
      font-size: 1.3em;
      background-color: rgba(255, 255, 255, 0);
      transition: opacity 0.1s ease-in-out;
      border: 0;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }
    }

    .starBtn {
      color: mainStyle.$darkMode_border_color;
    }
    #checkedStarBtn {
      color: rgb(51, 139, 246);
    }

    .editBtn {
      color: mainStyle.$darkMode_text_color;
    }

    .removeBtn {
      color: mainStyle.$red_error_color;
    }
  }
}

// light mode
#lightMode {
  color: mainStyle.$lightMode_text_color;
  background-color: mainStyle.$lightMode_border_color;
  border: 5px solid mainStyle.$lightMode_main_bg_color;
  border-top: 0;

  .textareaContainer {
    textarea {
      color: mainStyle.$lightMode_text_color;
      background-color: mainStyle.$lightMode_border_color;
    }
  }

  .saveAndDiscardBtnsContainer {
    background-color: mainStyle.$lightMode_main_bg_color;
  }

  .btnsContainer {
    background-color: mainStyle.$lightMode_main_bg_color;

    .starBtn {
      color: mainStyle.$lightMode_border_color;
    }
    #checkedStarBtn {
      color: rgb(51, 139, 246);
    }

    .editBtn {
      color: mainStyle.$lightMode_text_color;
    }
  }
}
