@use "../../../../../../../../assets/styles/mainStyle.scss";

.king {
  position: relative;

  button {
    color: mainStyle.$darkMode_text_color;
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    cursor: pointer;
    transition: 0.05s ease-in-out;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  input {
    color: mainStyle.$darkMode_text_color;
    background-color: mainStyle.$darkMode_part_bg_color;
    width: 250px;
    height: 55px;
    border: 2px solid mainStyle.$darkMode_border_color;
    border-radius: 10px;
    padding: 10px;
    text-transform: none;
    outline: 0;

    &:focus {
      outline: 2px solid mainStyle.$green_accepted_color;
    }
  }
}

// light mode
#lightMode {
  button {
    color: mainStyle.$lightMode_text_color;
  }

  input {
    color: mainStyle.$lightMode_text_color;
    background-color: mainStyle.$lightMode_part_bg_color;
    border-color: mainStyle.$lightMode_border_color;
  }
}
