@use "../../../../../../../assets/styles/mainStyle.scss";

.king {
  .unSelected {
    padding: 20px 10px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: mainStyle.$darkMode_text_color;
    align-items: center;
    height: 60px;
    text-decoration: none;
    transition: 0.05s ease-in-out;

    &:hover {
      background-color: mainStyle.$darkMode_border_color;
      cursor: pointer;
    }

    .iconContainer {
      color: rgb(51, 139, 246);
    }
  }

  .selected {
    padding: 20px 10px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: mainStyle.$darkMode_border_color;
    color: mainStyle.$darkMode_text_color;
    align-items: center;
    height: 60px;
    text-decoration: none;

    .iconContainer {
      color: rgb(51, 139, 246);
    }
  }
}

#lightMode {
  .unSelected {
    color: mainStyle.$lightMode_text_color;

    &:hover {
      background-color: mainStyle.$lightMode_border_color;
    }
  }

  .selected {
    background-color: mainStyle.$lightMode_border_color;
    color: mainStyle.$lightMode_text_color;
  }
}
