@use "../../assets/styles/mainStyle.scss";

.king {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.68);

  form {
    border-radius: 10px;
    border: 1px solid mainStyle.$darkMode_border_color;
    background-color: mainStyle.$darkMode_main_bg_color;
    padding: 30px;
    color: mainStyle.$darkMode_text_color;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    div {
      input,
      select,
      textarea {
        padding: 8px;
        color: mainStyle.$darkMode_text_color;
        border: 1px solid mainStyle.$darkMode_border_color;
        background-color: mainStyle.$darkMode_part_bg_color;
        text-transform: none;
        border-radius: 10px;

        &:focus {
          outline: 2px solid mainStyle.$green_accepted_color;
        }
      }
    }

    .inputContainer,
    .textareaContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .inputContainer {
      input {
        width: 250px;
      }

      input[type="date"] {
        cursor: pointer;
      }
    }

    .textareaContainer {
      textarea {
        width: 250px;
        height: 150px;
      }
    }

    .selectContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      select {
        cursor: pointer;

        option {
          text-transform: none;
        }
      }
    }

    .addBtnContainer {
      display: flex;
      justify-content: center;

      button {
        width: 50%;
        color: mainStyle.$darkMode_text_color;
        background-color: mainStyle.$green_accepted_color;
        text-transform: none;
        border: 0;
        padding: 10px;
        border-radius: 30px;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          background-color: #238637d5;
        }
        &:active {
          background-color: #238637c5;
        }
      }
    }

    .closeBtnContainer {
      border: 0;
      background-color: #ffffff00;
      color: mainStyle.$red_error_color;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2em;
      cursor: pointer;
      transition: 0.1s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }
}

// light mode
#lightMode {
  form {
    border: 1px solid mainStyle.$lightMode_border_color;
    background-color: mainStyle.$lightMode_main_bg_color;
    color: mainStyle.$lightMode_text_color;

    div {
      input,
      textarea,
      select {
        color: mainStyle.$lightMode_text_color;
        border-color: mainStyle.$lightMode_border_color;
        background-color: mainStyle.$lightMode_part_bg_color;
      }
    }
  }
}
